.hover-text-primary{
    transition: all .3s ease;
}
.hover-text-primary:hover{
    color: #0D6EFD;
    fill: #0D6EFD;
}

.cursor-pointer{
    cursor: pointer;
}

nav .dropdown-item:hover{
    background: inherit;
}
nav .dropdown-menu.show{
    bottom: 35% !important;
    display: flex;
    flex-direction: column-reverse;
}