.hover-text-primary:hover{
    color: #0D6EFD;
    fill: #0D6EFD;
}

.cursor-pointer{
    cursor: pointer;
}

nav .dropdown-item{
    transition: all .3s ease;
}
nav .dropdown-item:hover{
    background: inherit;
}

nav .dropdown-item.disabled svg{
    fill: #b0b8bf;
}

nav .dropdown-menu.show{
    bottom: 35% !important;
    display: flex;
    flex-direction: column-reverse;
}